.DS_Store
BleTrainerControl.xcodeproj
BleTrainerControl.xcodeproj/project.xcworkspace/xcuserdata/jedla22.xcuserdatad/UserInterfaceState.xcuserstate
BleTrainerControl.xcodeproj/xcuserdata/jedla22.xcuserdatad/xcschemes/BleTrainerControl.xcscheme
BleTrainerControl.xcodeproj/xcuserdata/jedla22.xcuserdatad/xcschemes/xcschememanagement.plist
